.code-card{
   display: flex;
   flex-direction: column;
   width: 300px;
   margin: 20px;
   background-color: #242526;
   border-radius: 10px;
}


.pic img{
    height: 180px;
    width: 100%;
}



.code-sec button{
    height: 2.5rem;
    width: 5rem;
    background-color: orange;
    border: 2px solid orange;
    margin-top: 20px;
    font-size: 14px;
    border-radius: 5px;
}

.code-sec button:hover{
    background-color: rgb(255, 140, 0);
    border: 2px solid rgb(255, 140, 0);
    cursor: pointer;
} 


.code-sec{
    padding: 15px;
}
