.reg-img img{
   height: 500px;
   margin-top: 50px;
}

.reg-section{
    display: flex;
    justify-content: space-evenly;
}
.signup{
    margin-top: 20px;
}
.reg-section h1{
    font-size: 60px;
}

.reg-section input{
    height: 2.5rem;
    width: 20rem;
    margin-top: 30px;
    border-radius: 10px;
    padding-left: 15px;
    background-color: #1B1B1B;
    color: white;
    border: 1px solid  #FF7F50;
    font-size: 16px;
}
.reg-section p span{
  color:  #FF7F50;
  margin-left: 10px;
}

.reg-section button{
    height: 2.5rem;
    width: 21rem;
    font-size: 16px;
    margin-top: 35px;
    background-color: #FF7F50;
    color: white;
    border: 2px solid #FF7F50;
    border-radius: 10px;
}

.reg-section button:hover{
   background-color: orange;
   border: 2px solid orange;
}